<!-- <html> <head>
</head>
<body>
<div class="abcd">
<h1>Simple CMS Blueprint</h1>
</div>
<div class="body">
<div class="row">
  <div class="col-sm-2">
    <h2>subject one</h2>
    <h2>&nbsp;&nbsp;&nbsp;page one</h2>
    <h2>&nbsp;&nbsp;&nbsp;page two</h2>
<br>
    <h2>subject two</h2>
    <h2>&nbsp;&nbsp;&nbsp;page three</h2>
    <h2>&nbsp;&nbsp;&nbsp;page four</h2>
    <h2>&nbsp;&nbsp;&nbsp;page five</h2>
    <h2>&nbsp;&nbsp;&nbsp;page six</h2>
    <br>
        <h2>subject three</h2>
        <h2>&nbsp;&nbsp;&nbsp;page seven</h2>
        <h2>&nbsp;&nbsp;&nbsp;page eight</h2>
        <h2>&nbsp;&nbsp;&nbsp;page nine</h2>
          <br>  <br>  <br>  <br>  <br>
  </div>
  <div class="col-sm">
    <h2>Page Three</h2>
    <br>  <br>
    <h2>section</h2>
  </div>
</div>
</div>
</body>
</html>-->
<link rel="stylesheet" href="bootstrap.css">
 <link rel="stylesheet" href="application.html.reb">
 <link rel="stylesheet" href="application.css">


<%= link_to('all subject ', {controller:'subjects',action: 'index'}) %>
