<h1>Public#index</h1>

<div class="navbar">
  <% @subjects.each do |i| %>
  <%= link_to i.name, public_path(i), class: "aa" %>
  </li>
  <% end %>
  </ul>
</div>



<br><br> <br><br><h2 style="text-align: center; color: blue; font-size:40px"> welcome to</h2><br>
<h2 style="text-align: center; color: blue; font-size:80px"> CMS  </h2>
